{% extends 'base.html' %}

{% block content %}
{% include "navbar.html" %}
<h1>Search posts</h1>
<form action="{% url 'forum:search' %}" method="post">
    {% csrf_token %}
    <input id="query" type="text" name="query" style="width:500px">
    <input class="fancyButton" type="submit" value="OK">
</form>
{% for post in posts %}
<div class="post_box" onclick='location.href="{% url 'forum:post' post.id %}";'>
    <h2>{{post.title}}</h2>
    <p><i>By {{post.author}} on {{post.created}}</i></p>
    <p>{% with broken=post.content|linebreaks %}{{broken|truncatechars:300}}{% endwith %}</p>
    <p>——<br><i>{{post.views}} views</i>
    {% if post.agreechecks > 0 %} &ensp;•&ensp; <i>{% widthratio agrees agreechecks 100 %}% agree with this</i> {% endif %}
    {% if post.strongchecks > 0 %} &ensp;•&ensp; <i>{% widthratio strongs strongchecks 100 %}% think this was a strong argument</i> {% endif %}
    </p>
    </div>
<br>
{% endfor %}
{% endblock %}
