{% load static %}

<html>
    <head>
        <title>OpenDiscussion</title>
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    </head>
    <body>
        <div style="min-height: calc(100vh - 175px);">
            <a href="{% url 'home' %}" style="text-decoration: none;"><h1 style="text-align: center; font-weight: normal; font-size:48px;">🌿 OpenDiscussion&ensp;&ensp;&ensp;</h1></a>
            <br>
            {% block content %}
            {% endblock %}
        </div>
        <script type="text/javascript" src="{% static 'main.js' %}"></script>
    </body>
    <footer>
        <p><a style="text-decoration: none;" href="{% url 'home' %}">OpenDiscussion.org</a> • <a style="text-decoration: none;" href="{% url 'about' %}">About Us</a><br>Brandon Lee, 2021</p>
    </footer>
</html>